.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0.25rem 0;
  transition: 0.4s;
  height: 108px;
  background-color: var(--other-background-white);
}
.header-active {
  background-color: var(--other-background-white);
  height: 80px;
}
.header-container-detail {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding: 0 10px;
}
.header-container-items {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header-container-menu-icon {
  display: none;
}
.header-list {
  grid-gap: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  text-align: center;
}
.header-list-detail {
  list-style: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.header-list-detail-tab-active {
  background-color: var(--tertiary-background-blue);
}
.header-list-detail-tab-active a {
  color: var(--tertiary-text-white) !important;
}
.header-list-detail-tab-inactive {
  color: var(--primary-text-black);
}
.header-list-detail:hover {
  background-color: var(--tertiary-background-blue);
}
.header-list-detail:hover a {
  color: var(--tertiary-text-white);
}
.header-list-detail a {
  text-decoration: none;
  color: var(--primary-text-black);
  padding: 0.5rem 2rem;
}
.header-container-button-icon {
  display: flex;
  align-items: center;
  font-size: 2.375rem;
}
.header-container-button-icon:first-child {
  margin-right: 0.5rem;
  position: relative;
}
/* search */
.search-container-box {
  position: absolute;
  top: 50px;
  left: -250px;
  width: 450px;
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}
.search-top {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--secondary-background-grey);
}
.search-content {
  display: flex;
  font-size: 1.5rem;
  margin-top: 0.675rem;
  flex-direction: column;
}
.search-input-container{
  position: relative;
  
}
.search-input {
  width: 100%;
  height:40px;
  padding: 0.5rem;
  padding-right: 4rem;
  border:1px solid var(--secondary-background-grey);
}
.searching-icon-container {
  position: absolute;
  right: 0;
  top:0;
  width: 55px;
  height: 40px;
  border: 1px solid var(--primary-background-pink);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary-background-pink);
  color:var(--tertiary-text-white);
}
.search-inactive {
  display: none;
}
.search-products-container {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}
.search-product-item-container-left{
  display: block;
  overflow: hidden;
}
.search-product-item-container{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--secondary-background-grey);
}
.search-product-item-container-left .search-product-item-name{
  font-size: 1rem;
  color: var(--secondary-text-grey);
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-product-item-price {
  display: flex;
  align-items: center;
  padding-top: 0.375rem;

}
.price-after-searching{
  color: var(--primary-text-black);
  font-weight: 600;
  font-size: 0.875rem;
  padding-right: 0.5rem;
}
.price-before-searching {
  font-size: 0.875rem;
  text-decoration: line-through;
  font-style: italic;
  color: var(--secondary-text-grey);
  
}
.search-product-img {
  width: 60px;
  height:60px;
  object-fit: cover;
}
.search-products-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.search-products-container::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.search-products-container::-webkit-scrollbar-thumb
{
	/* background-color: #000000; */
	background-color: var(--primary-background-pink);

}
.search-nothing{
  font-size: 0.875rem;
}
/* search */
.header-button-icon {
  color: var(--other-text-pink);
  cursor: pointer;
}
.header-button-icon:hover {
  opacity: 0.8;
}
.header-button-icon-first {
  color: var(--other-text-pink);
  cursor: pointer;
}
.header-button-icon-first:hover {
  opacity: 0.8;
}
.header-container-buttons {
  display: flex;
  align-items: center;
}
.header-container-button-list-icons {
  display: flex;
  padding-right: 1.2rem;
}
.header-button-login {
  padding: 0.675rem 1.25rem;
  color: var(--tertiary-text-white);
  border: transparent;
  border-radius: 10px;
  background-color: var(--primary-background-pink);
  cursor: pointer;
  opacity: 0.8;
}
.header-button-login:hover {
  opacity: 0.7;
}
.header-list-detail:nth-child(4) {
  display: none;
}
.header-button-icon-first:nth-child(2) {
  display: none;
}
.shopping-cart-link {
  display: flex;
  align-items: center;
  position: relative;
}
.badge {
  position: absolute;
  font-size: 1rem;
  top: -10px;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  background-color: var(--primary-background-pink);
  right: -10px;
  color: var(--tertiary-text-white);
}
@media screen and (max-width: 960px) {
  .header-button-login {
    margin-right: 16px;
  }
  .header-active {
    height: 100px;
  }
  .header-container-menu-icon {
    display: flex;
    font-size: 2.5rem;
    color: var(--other-text-pink);
    cursor: pointer;
    position: absolute;
    right: 20px;
    /* transform: translate(-100%,60%); */
  }

  .header-container-buttons {
    margin-right: 3rem;
  }
  .header-container-button-list-icons {
    padding-right: 3.5rem;
    height: 100%;
  }
  .header-container-button-icon:first-child {
    margin-right: 1.5rem;
  }

  .header-button-icon {
    font-size: 3rem;
  }
  .header-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    grid-gap: 0;
  }

  .header-container-items {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: var(--other-background-white);
    left: calc(-100vw - 40px);
    transition: all 0.5s ease;
    padding: 2rem;
  }
  .header-container-items-active {
    left: 0;
    z-index: 1;
  }
  .header-list-detail {
    align-items: center;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    line-height: 1.25rem;
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .header-list-detail:nth-child(4) {
    display: block;
  }
  .header-list-detail > a {
    padding: 4rem 0;
  }
  .header-button-login {
    display: none;
  }
  .header-button-login-mobile {
    color: var(--tertiary-text-white);
    border: transparent;
    border-radius: 10px;
    background-color: var(--primary-background-pink);
    cursor: pointer;
    opacity: 0.8;
    width: 100%;
    padding: 4rem 0;
    font-size: 2rem;
    line-height: 1.25rem;
  }
  .header-container-menu-icon,
  .header-container-button-icon {
    font-size: 4rem;
  }
}
@media (max-width: 767.98px) {
  .header-container {
    height: 80px;
  }
  .header-container-menu-icon,
  .header-button-icon {
    font-size: 2rem;
  }
  .header-container-button-list-icons {
    padding-right: 2rem;
  }
}

#user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

#user-info a {
  display: flex;
  align-items: center;
}

#avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

#username {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.header-button-avatar {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--primary-background-pink);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 80px;
}

.dropdown-btn {
  cursor: pointer;
  border: none;
}

.dropdown-btn:hover {
  background-color: #ddd;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
