.home-container-biggest {
  /* overflow: hidden; */
  min-height: 100vh;
  scroll-behavior: smooth;
}
.home-container {
  width: 100%;
  margin-top: 108px;
}
.body-overflow {
  overflow: hidden;
}
.home-container-first,
.home-container-second,
.home-container-third,
.home-container-fourth,
.home-container-fifth,
.home-container-sixth {
  width: 100%;
}
.home-container-first-detail,
.home-container-third-detail,
.home-container-fourth-detail,
.home-container-fifth-detail,
.home-container-sixth-detail {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  flex-direction: column;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
}
.slideshow-container-detail::before {
  background-color: rgba(0, 0, 0, 0.93);
  height: 100%;
  left: 0;
  opacity: 0.65;
  position: absolute;
  top: 0;
  width: 100%;
}

.slideshow-container-detail {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides-home {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0.8rem 1.2rem;
  color: var(--other-text-pink);
  background-color: var(--other-background-white);
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
}

.prev {
  left: 20px;
}
/* Position the "next button" to the right */
.next {
  right: 20px;
}

/* Caption text */

/* Number text (1/3 etc) */
.numbertext-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.numbertext-container-second {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
}
.numbertext-detail {
  background-color: rgba(192, 192, 192, 0.6);
  padding: 0 0.5rem;
  text-shadow: var(--other-text-pink) 1px 0 10px;
  color: var(--tertiary-text-white);
  letter-spacing: 0.3rem;
  line-height: 1.4;
  font-size: 2rem;
}
.numbertext-detail-second {
  font-size: 6rem;
  text-shadow: var(--other-text-pink) 1px 0 10px;
  letter-spacing: 0.1rem;
  color: var(--tertiary-text-white);
}
.numbertext-detail-second-subtitle {
  letter-spacing: 0.1rem;
}
.numbertext-detail-third-subtitle {
  background-color: rgba(192, 192, 192, 0.6);
  padding: 0 0.5rem;
  text-shadow: var(--other-text-pink) 1px 0 10px;
  color: var(--tertiary-text-white);
  letter-spacing: 0.3rem;
  line-height: 1.4;
  margin-top: 0.3rem;
  font-size: 1.375rem;
}
.numbertext-detail-third {
  font-size: 4rem;
  text-shadow: var(--other-text-pink) 1px 0 10px;
  letter-spacing: 0.3rem;
  color: var(--tertiary-text-white);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--other-background-white);
  box-shadow: var(--other-text-pink) 1px 0 10px;
  opacity: 0.6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--primary-background-pink);
}
.mySlides-home {
  height: 500px;
}
.mySlides-home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-container-dot {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.numbertext-detail-second-subtitle {
  margin-top: 0.5rem;
}
.btn-shopnow,
.btn-findout {
  padding: 1rem 1.375rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--other-background-white);
  opacity: 0.8;
  box-shadow: var(--other-text-pink) 1px 0 10px;
  transition: all 0.5s ease;
  letter-spacing: 0.1rem;
}
.btn-findout {
  margin-top: 1rem;
}

.btn-shopnow > a,
.btn-findout > a {
  text-decoration: none;
  color: var(--primary-text-black);
}
.btn-shopnow:hover,
.btn-findout:hover {
  transform: scale(1.1);
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* home-container-list-items */
.home-title-list-items {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 0 0.5rem;
}
.home-container-title {
  display: flex;
  align-items: center;
  width: 100%;
}
.home-title-divide {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0 0;
  transition: inherit;
  border-color: rgba(0, 0, 0, 0.12);
}
.category-title {
  color: var(--tertiary-text-white);
  font-size: 1.7rem;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  line-height: 1.2;
}
.category-subtitle {
  color: var(--tertiary-text-white);
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.8;
}
.home-container-list-items {
  display: grid;
  grid-template: repeat(8, 85px) / 30%;
  grid-gap: 10px;
}
.home-container-first-detail {
  width: 100%;
}
.home-container-item {
  position: relative;
}
.home-container-item:first-child,
.home-container-item:nth-child(2) {
  grid-row: 1/4;
  grid-column: 2/3;
}
.home-container-item:first-child {
  grid-column: 1/2;
}
.home-container-item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/5;
}
.home-container-item:nth-child(4) {
  grid-row: 4/9;
  grid-column: 1/2;
}
.home-container-item:nth-child(5) {
  grid-row: 4/9;
  grid-column: 2/3;
}
.home-container-item:nth-child(6) {
  grid-row: 5/9;
  grid-column: 3/4;
}
.content-container-first {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 2;
}
.item-container-img-first {
  display: flex;
  transition: opacity 1s ease;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.item-container-img-first::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.31);
  z-index: 1;
}
.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s linear;
}
.btn-container {
  margin-top: 1rem;
}
.btn-seemore {
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid var(--other-background-white);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.btn-seemore:hover {
  background-color: var(--secondary-background-grey);
  border: none;
}
.btn-seemore:hover a {
  color: var(--primary-text-black);
  opacity: 0.7;
}
.btn-seemore > a {
  text-decoration: none;
  color: var(--tertiary-text-white);
  font-weight: 600;
  font-size: 1rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
/* container second */
.home-container-second {
  height: auto;
  padding: 0 138px;
}
.home-container-second-detail {
  display: flex;
  max-width: 100vw;
  position: relative;
}
.home-container-second-detail span {
  top: 50%;
  height: 44px;
  width: 44px;
  color: var(--tertiary-text-white);
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: var(--primary-background-pink);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 2;
}

.home-container-second-detail span:active {
  transform: translateY(-50%) scale(0.9);
}

.home-container-second-detail span:hover {
  background: #f2f2f2;
}

.home-container-second-detail span:first-child {
  left: -22px;
  display: none;
}
.home-container-second-detail span:last-child {
  right: -22px;
}
.home-container-second-detail .carousel {
  overflow: hidden;
  height: 40%;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 1rem 0;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging .home-container-second-product {
  pointer-events: none;
}

.carousel .home-container-second-product {
  height: auto;
  object-fit: cover;
  user-select: none;
  width: calc(100% / 4);
}
@media screen and (max-width: 900px) {
  .carousel .home-container-second-product {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel .home-container-second-product {
    width: 100%;
  }
}

.home-container-second-product .productItem-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  text-decoration: none;
  color: var(--primary-text-black);
}

.item-title {
  display: inline-block;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.item-info-first {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.product-sale {
  width: 50px;
  height: 50px;
  background-color: var(--primary-background-pink);
  position: absolute;
  top: 10px;
  left: 0;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 50px;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productItem-container {
  /* height: 100%; */
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s,
    opacity 0.5s;
}
.productItem-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
  transform: scale(0.95);
}
.image-container {
  position: relative;
  height: 250px;
}
.image-container > img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: 0.5s ease-out;
  opacity: 0;
}
.item-info {
  display: flex;
  padding: 1.2rem;
  box-sizing: border-box;
  font-size: 1rem;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--secondary-background-grey);
}
.item-price-container {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2px;
  transition: 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  flex: 1;
}
.item-price-before-container {
  color: var(--secondary-text-grey);
  text-decoration: line-through;
  font-style: italic;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.price-before {
  color: var(--secondary-text-grey);
  text-decoration: line-through;
  font-style: italic;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.item-icon-container {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
}
.quick-view-detail {
  text-decoration: none;
  text-align: center;
}
.quick-view-detail > button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-background-pink);
  opacity: 0.7;
  color: var(--other-background-white);
}
.quick-view-detail:hover > button {
  opacity: 0.7;
}
/* container third */
.home-container-third-detail {
  width: 100%;
}
.home-container-list-items-third {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  width: 100%;
}
.home-container-item-third {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container-item-third:first-child,
.home-container-item-third:nth-child(2) {
  border-right: 2px solid var(--secondary-background-grey);
}
.item-img-third {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.img-third-subtitle {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.home-title-third {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 0 0.5rem;
}
/* fourth */
.home-container-fourth {
  background-image: url(/assets/images/image-fourth.png);
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.home-container-fourth-detail {
  margin-top: 1.5rem;
}
.home-container-fourth-content {
  height: 500px;
  padding: 8rem 4rem;
}
.home-title-fourth {
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.home-subtitle-fourth {
  width: 50%;
}
.subtitle-fourth {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-align: justify;
}
.subtitle-fourth:first-child,
.subtitle-fourth:nth-child(2) {
  margin-bottom: 1rem;
  word-spacing: 0.1rem;
}
/* fifth */
.home-container-fifth {
  background-color: var(--secondary-background-grey);
}
.home-container-fifth-content {
  width: 100%;
  padding: 3rem 0;
}
.home-title-fifth {
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 0 0.5rem;
}
.home-container-list-discounts {
  margin-top: 1.5rem;
}
.home-container-discounts-first {
  display: flex;
  justify-content: center;
}
.home-container-discount {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  background-color: var(--tertiary-background-blue);
  border-radius: 60px;
  position: relative;
  padding: 0.5rem 2rem 0.5rem 6rem;
}
.discount-name {
  text-align: center;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  background-color: var(--other-background-white);
  border-radius: 60px;
  font-size: 1.5rem;
  font-weight: 900;
}
.discount-subname {
  margin-top: 0.2rem;
  color: var(--tertiary-text-white);
  font-size: 0.6rem;
  font-style: italic;
  text-align: center;
}
.discount-value {
  position: absolute;
  left: -50px;
  top: -18px;
  padding: 2.5rem 1.2rem;
  background-color: var(--primary-background-pink);
  border-radius: 50%;
  font-size: 1rem;
  color: var(--other-background-white);
  font-weight: 900;
  text-align: center;
}
.home-container-discounts-second {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}
/* sixth */
.home-container-sixth-content {
  width: 100%;
  padding: 1.5rem 0;
}
.home-title-sixth {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 0 0.5rem;
}
.home-container-sixth-form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1.5rem;
}
.home-sixth-form-left,
.home-sixth-form-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.home-sixth-form-left {
  padding-right: 1rem;
}
.sixth-form-label {
  font-weight: 600;
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
#sixth-form-input-first {
  padding: 1rem;
  border-radius: 20px;
  width: 250px;
  border: 1px solid var(--secondary-background-grey);
  transition: all 0.2s linear;
  box-sizing: border-box;
  outline: none;
}
#sixth-form-input-first:focus {
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--primary-background-pink);
}
#sixth-form-input-second {
  padding: 1rem;
  border-radius: 20px;
  width: 250px;
  border: 1px solid var(--secondary-background-grey);
  transition: all 0.2s linear;
  box-sizing: border-box;
  outline: none;
}
#sixth-form-input-second:focus {
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--primary-background-pink);
}
.home-container-sixth-btn {
  text-align: center;
  margin-top: 1.5rem;
}
.home-sixth-btn-submit {
  padding: 1rem 8rem;
  color: var(--tertiary-text-white);
  font-weight: 800;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-background-pink);
  cursor: pointer;
  transition: all 0.2s linear;
  letter-spacing: 0.1rem;
}
.home-sixth-btn-submit:hover {
  background-color: var(--other-background-white);
  color: var(--other-text-pink);
  border: 1px solid var(--primary-background-pink);
}
.item-price-after{
  display:flex;
  font-weight: 600;
}
/* products best seller */

@media screen and (max-width: 960px) {
  .mySlides-home img {
    object-fit: fill;
  }
  .numbertext-container-second {
    padding-left: 4rem;
  }
  .img-third-subtitle {
    font-size: 1rem;
  }
  .home-container-fourth-content {
    padding: 2rem 4rem;
  }
  .subtitle-fourth {
    font-size: 1rem;
  }
  .item-img {
    object-fit: fill;
  }
  .home-title-fifth {
    font-size: 1.5rem;
  }
  .home-container-discounts-second {
    margin-top: 4rem;
  }
  .home-container-sixth-content {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .next,
  .prev {
    display: none;
  }
  .item-img-third {
    height: 120px;
  }
  .img-third-subtitle {
    font-size: 1rem;
    letter-spacing: 0;
  }
  /* fourth */
  .subtitle-fourth {
    font-size: 0.875rem;
  }
  .home-container-sixth-content {
    padding: 1.5rem 3rem;
  }
}
@media (max-width: 767.98px) {
  .home-container {
    margin-top: 80px;
  }
  .mySlides-home {
    height: 300px;
  }
  .numbertext-detail {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .numbertext-container-second {
    padding: 0.5rem;
  }
  .numbertext-detail-second-subtitle {
    color: var(--primary-text-black);
    font-size: 0.6rem;
  }
  .numbertext-detail-second {
    font-size: 2rem;
  }
  .numbertext-detail-third,
  .numbertext-detail {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .numbertext-detail {
    font-size: 1rem;
  }
  .numbertext-detail-third-subtitle {
    font-size: 0.875rem;
  }
  .btn-shopnow,
  .btn-findout {
    font-size: 0.5rem;
  }
  .home-title-list-items {
    font-size: 1.2rem;
  }
  .home-container-list-items {
    display: flex;
    flex-direction: column;
  }
  .category-title {
    font-size: 1.3rem;
  }
  .category-subtitle {
    font-size: 0.7rem;
  }
  .btn-seemore > a {
    font-size: 0.6rem;
  }
  /* container 3 */
  .home-title-third {
    font-size: 1.2rem;
  }
  .home-container-list-items-third {
    grid-template-columns: repeat(1, auto);
  }
  .img-third-subtitle {
    font-size: 1rem;
  }
  /* fourth */
  .home-container-fourth-content {
    padding: 1rem;
    height: 300px;
  }
  .home-title-fourth {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .subtitle-fourth {
    font-size: 0.5rem;
    text-align: unset;
  }
  .home-title-fifth {
    font-size: 1.2rem;
  }
  .home-title-fifth-container > h3 {
    font-size: 1.2rem;
  }
  .home-container-list-discounts {
    margin-top: 2rem;
  }
  .home-container-discounts-first {
    margin-bottom: 3rem;
  }
  .home-container-discounts-second {
    flex-direction: column;
  }
  .home-container-discounts-second-left,
  .home-container-discounts-second-right {
    display: flex;
    justify-content: center;
  }
  .home-container-discounts-second-left {
    margin-bottom: 3rem;
  }
  .discount-name {
    font-size: 1rem;
  }
  .discount-value {
    font-size: 0.8rem;
    left: -30px;
    padding: 2rem 1rem;
  }
  .home-container-discounts-second-left .discount-value {
    left: -40px;
  }
  /* sixth */
  .home-container-sixth-content {
    padding: 1.5rem 0;
  }
  .home-title-sixth {
    font-size: 1.2rem;
  }
  .home-container-sixth-form {
    flex-direction: column;
  }
  .home-sixth-form-left,
  .home-sixth-form-right {
    width: 100%;
  }
  .home-sixth-form-right {
    margin-top: 1rem;
  }
  .sixth-form-label {
    width: 100%;
  }
  #sixth-form-input-first,
  #sixth-form-input-second {
    width: 100%;
  }
  .home-sixth-btn-submit {
    width: 100%;
  }
}
