

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin-top: 108px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.banner{
    width: 100%;
    height: 400px
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.active-page {
  background-color: var(--primary-background-pink);
  color:var(--tertiary-text-white);
  border-radius: 50%;
}
.products-pagination a {
  padding:0 0.375rem;
  text-decoration: none;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* product-container */
.products-container{
  display: flex;
  font-size: 20px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 20px 60px;
}

.categories-container{
    width: 15%;
    margin-right: 50px;
}

.list-products-container{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --checkbox-size: 25px;
  }
.checkbox-menu-product-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
.checkbox-menu-product-item .input-menu {
    position: relative;
    /* width: var(--checkbox-size);
    height: var(--checkbox-size); */
  }
.checkbox-menu-product-item .category {
    appearance: none;
    -webkit-appearance: none;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    background-color: #e5e7eb;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    transition: ease 0.2s;
  }
.checkbox-menu-product-item .category:hover {
    background-color: #d1d5db;
  }
.checkbox-menu-product-item .category:checked {
    background-color: var(--primary-background-pink);
    border-color: #fff;
  }
.checkbox-menu-product-item .category:checked + .check-icon {
    display: block;
  }
.checkbox-menu-product-item .check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: none;
    pointer-events: none;
  }
.checkbox-menu-product-item .check-icon svg {
    height: 26px;
    position: relative;
  }
.checkbox-menu-product-item .label {
    color: #4c4c4c;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
.divide{
  border-bottom: 2px solid #de135c;
  width: 100%;
  margin-bottom: 10px;
}

.header-product-menu{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.sort-product-container{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.sort-product-item{
  margin-left: 20px;
  width: 120px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #de135c;
}

.sort-product-item:hover{
  background-color: #de135c;
  color: #fff;
}

.products-center{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
  margin-top: 1rem;
}

.product-img-item{
  width: 100%;
  height: 300px;
}

.card-product-rate-detail{
  margin-top: 5px;
  display: flex;
}

.rating-star{
  color: #f5a300;
  font-size: 18px;
  margin-bottom: 2px;
}

.rating-amount{
  color: #ccc;
  font-size: 14px;
}

.card-product-sold{
  color: #ccc;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* style card-product-buy-now-btn */
.card-product-buy-now-btn{
  background-color: #de135c;
  border: 1px solid #de135c;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  margin-top: 10px;
  outline: none;
  transition: all 0.3s ease 0s;
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
}

.card-product-buy-now-btn:hover{
  background-color: #fff;
  color: #de135c;
}

.card-product:hover .card-product-buy-now-btn{
  display: block;
}
.products-pagination {
  display:flex;
  gap:0.375rem;
}

.product-sale {
  width: 50px;
  height: 50px;
  background-color: var(--primary-background-pink);
  position: absolute;
  top: 10px;
  left: 0;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 50px;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-title {
  display: inline-block;
  text-overflow: ellipsis;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.item-info-first {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.item-price-container {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2px;
  transition: 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50%;
  flex: 1;
}
.item-price-before-container {
  color: var(--secondary-text-grey);
  text-decoration: line-through;
  font-style: italic;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.price-before {
  color: var(--secondary-text-grey);
  text-decoration: line-through;
  font-style: italic;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.item-icon-container {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
}
.quick-view-detail {
  text-decoration: none;
  text-align: center;
}
.quick-view-detail > button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-background-pink);
  opacity: 0.7;
  color: var(--other-background-white);
}
.quick-view-detail:hover > button {
  opacity: 0.7;
}

.card-product .productItem-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  text-decoration: none;
  color: var(--primary-text-black);
}

.productItem-container {
  /* height: 100%; */
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s,
    opacity 0.5s;
}
.productItem-container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.22);
  transform: scale(0.95);
}

.item-rating{
  color: #f5a300;
}
.item-sold{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
